include dash_editorjs/dash_editorjs.min.js
include dash_editorjs/dash_editorjs.min.js.map
include dash_editorjs/async-*.js
include dash_editorjs/async-*.js.map
include dash_editorjs/*-shared.js
include dash_editorjs/*-shared.js.map
include dash_editorjs/metadata.json
include dash_editorjs/package-info.json
include README.md
include LICENSE
include package.json
